<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6IkRheU5vdGUiLCJw
		YWNrYWdlS2luZCI6eyJyb290Ijp7fX0sInBsYXRmb3JtcyI6W3sib3B0aW9u
		cyI6W10sInBsYXRmb3JtTmFtZSI6ImlvcyIsInZlcnNpb24iOiIxNy4wIn1d
		LCJwcm9kdWN0cyI6W3sibmFtZSI6IkRheU5vdGUiLCJzZXR0aW5ncyI6W3si
		YnVuZGxlSWRlbnRpZmllciI6WyJjb20uZGF5bm90ZS5hcHAiXX0seyJkaXNw
		bGF5VmVyc2lvbiI6WyIxLjAiXX0seyJidW5kbGVWZXJzaW9uIjpbIjEiXX0s
		eyJpT1NBcHBJbmZvIjpbeyJhY2NlbnRDb2xvciI6eyJwcmVzZXRDb2xvciI6
		eyJwcmVzZXRDb2xvciI6eyJyYXdWYWx1ZSI6InBpbmsifX19LCJhcHBJY29u
		Ijp7InBsYWNlaG9sZGVyIjp7Imljb24iOnsicmF3VmFsdWUiOiJwZW5jaWwi
		fX19LCJjYXBhYmlsaXRpZXMiOltdLCJzdXBwb3J0ZWREZXZpY2VGYW1pbGll
		cyI6WyJwYWQiLCJwaG9uZSIsIm1hYyJdLCJzdXBwb3J0ZWRJbnRlcmZhY2VP
		cmllbnRhdGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVSaWdo
		dCI6e319LHsibGFuZHNjYXBlTGVmdCI6e319XX1dfV0sInRhcmdldHMiOlsi
		RGF5Tm90ZSJdLCJ0eXBlIjp7ImV4ZWN1dGFibGUiOm51bGx9fV0sInRhcmdl
		dE1hcCI6eyJEYXlOb3RlIjp7ImRlcGVuZGVuY2llcyI6W10sImV4Y2x1ZGUi
		OltdLCJuYW1lIjoiRGF5Tm90ZSIsInBhY2thZ2VBY2Nlc3MiOnRydWUsInBh
		dGgiOiJTb3VyY2VzIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOltdLCJ0
		eXBlIjoiZXhlY3V0YWJsZSJ9fSwidGFyZ2V0cyI6W3siZGVwZW5kZW5jaWVz
		IjpbXSwiZXhjbHVkZSI6W10sIm5hbWUiOiJEYXlOb3RlIiwicGFja2FnZUFj
		Y2VzcyI6dHJ1ZSwicGF0aCI6IlNvdXJjZXMiLCJyZXNvdXJjZXMiOltdLCJz
		ZXR0aW5ncyI6W10sInR5cGUiOiJleGVjdXRhYmxlIn1dLCJ0b29sc1ZlcnNp
		b24iOnsiX3ZlcnNpb24iOiI1LjkuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		T6cPZRN5RohXxGGL+n+Ky+VyCb/M1ZicuEpSqKAlCJY=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>6.0.2-dev</string>
	</dict>
</dict>
</plist>
